<div class="stopwatch">
    <div>{{toTwoDigit(timeToDisplay.hours)}}</div>:
    <div>{{toTwoDigit(timeToDisplay.minutes)}}</div>:
    <div>{{toTwoDigit(timeToDisplay.seconds)}}</div>
</div>

<div class="buttons">
    <button (click)="clickOnWait()"><i class="fas fa-pause"></i>Wait</button>
    <button (click)="startTimer()" *ngIf="stopwatchIsStopped"><i class="fas fa-play"></i>Start</button>
    <button (click)="stopTimer()" *ngIf="!stopwatchIsStopped"><i class="fas fa-stop"></i>Stop</button>
    <button (click)="resetTimer()"><i class="fas fa-redo"></i>Reset</button>
</div>