<p class="title">Stopwatch</p>
<div class="stopwatch">
    <div>{{timeToDisplay.hours.toLocaleString('en-US', {minimumIntegerDigits: 2})}}</div>:
    <div>{{timeToDisplay.minutes.toLocaleString('en-US', {minimumIntegerDigits: 2})}}</div>:
    <div class="seconds">{{timeToDisplay.seconds.toLocaleString('en-US', {minimumIntegerDigits: 2})}}</div>
</div>
<div class="buttons" *ngIf="!subscription || subscription.closed">
    <button (click)="startTimer()"><i class="fas fa-play"></i>Start</button>
</div>

<div class="buttons" *ngIf="subscription && !subscription.closed">
    <button><i class="fas fa-pause"></i>Wait</button>
    <button (click)="stopTimer()"><i class="fas fa-stop"></i>Stop</button>
    <button (click)="resetTimer()"><i class="fas fa-redo"></i>Reset</button>
</div>